
body {
  background-color: #d3d3d3; 
  display: flex;
  justify-content: center;
  padding: 1rem; 
  font-family: Muli, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 300px; 
  gap: 1rem;
}


header {
  background-color: #9b2c7d; 
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
}


.articles {
  background-color: #2ecc71; 
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


article {
  background-color: #e91e63; 
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
  margin: 1rem;
}


aside {
  background-color: #1565c0; 
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
}


footer {
  background-color: #f57c00;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
}


@media (max-width: 400px) {
  .container {
    width: 90%; 
  }
}
